<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Index | SOLO</title>
</head>
<body class="index-body">
    <form class="index-form" method="post" enctype=multipart/form-data>
        <img class="index-form-img" src="../static/img/logo.png" alt="logo" width="300" height="300">
        <h1 class="index-form-text">Upload Any Image</h1>
        <input class="index-form-input" type="file" name="file">
        <button class="index-form-btn" type="submit">Upload!</button>
    </form>
</body>
</html>